.element-parinte {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  position: relative;
}

.element-copil {
  padding: 10px;
  background-color: red;
  color: white;
}

.element-principal {
  padding: 10px;
  background-color: teal;
  color: white;
  /* position: absolute;
  top: 3px;
  left: 0; */
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.articol-inaltime {
  height: 1200px;
  background-color: lightyellow;
  margin: 20px;
}

.heading-primary {
  position: fixed;
  background-color: white;
  padding: 20px;

  top: 0;
  border-bottom: 2px solid brown;
  width: 100%;
}
