p {
  background-color: lightblue;
  width: 200px;
  height: 100px;
}

.lesson-example + .lesson-example {
  margin-top: 100px;
}

.visible {
  overflow: visible;
}

/* .lesson-example-hidden {
  height: 100px;
} */
.hidden {
  overflow: hidden;
}

.clip {
  overflow: clip;
  overflow-clip-margin: 10px;
}

.scroll {
  overflow: scroll;
}

.auto {
  overflow: auto;
}

.overlay {
  overflow: overlay;
}
